header {
  background-color: #b5f2ea;
  height: 90px;
  font-size: 1.8em;
  margin: 0;
}

body {
  margin: 0;
}

header .logo {
  float: left;
  padding-top: 1.5%;
  padding-left: 1%;
}

header .title {
  float: left;
  padding-left: 2%;
  padding-top: 2%;
}

header .hello-message {
  float: left;
  padding-top: 2%;
  padding-left: 20%;
}

header .authorization {
  font-size: 1em;
  background: 0%;
  border: none;
  float: right;
  margin-top: 2%;
  margin-right: 1%;
}

.authorization:hover {
  background-color: #c0e5e0;
}

.add-advertisement {
  font-size: 1.2em;
  float: right;
  margin-right: 22.5%;
  margin-top: 3%;
}

.sort {
  font-size: 1.8em;
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 6%;
  padding-left: 1%;
  outline: 2px solid #000;
}

.choose-sort {
  float: left;
}

.data-sort {
  font-size: 1em;
  margin-left: 1%;
  background: 0%;
  border: none;
  float: left;
}

.data-sort:hover {
  color: green;
}

.rating-sort {
  font-size: 1em;
  margin-left: 1%;
  background: 0%;
  border: none;
  float: left;
}

.rating-sort:hover {
  color: green;
}

.filter {
  font-size: 1.5em;
  margin-top: 0.1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  outline: 2px solid #000;
}

.clear {
  font-size: 1em;
  margin-left: 1%;
  margin-bottom: 1%;
  background: 0%;
  border: none;
}

.clear:hover {
  color: grey;
}

.advertisements {
  font-size: 1.2em;
  margin-top: 0.1%;
  outline: 2px solid #000;
}

.advertisement {
  font-size: 1em;
  margin-top: 0.1%;
  padding-top: 3%;
  outline: 2px solid #000;
}

.advertisement-picture {
  float: left;
  padding-left: 3%;
}

.advertisement-title {
  margin-left: 30%;
  padding-left: 3%;
  font-weight: bold;
}

.information {
  font-size: 1em;
  margin-left: 200px;
  padding-left: 3%;
  padding-bottom: 2%;
}

.until {
  font-weight: bold;
  font-size: 1em;
}

.reviews {
  margin-top: 0.1%;
}

.no-reviews {
  font-weight: bold;
  margin-left: 40%;
}

.discount {
  color: red;
  font-weight: bold;
  font-size: 2em;
  float: right;
  margin-right: 20%;
}

.under-advertisement {
  outline: 2px solid #000;
  font-size: 1.2em;
  padding-bottom: 1%;
}

.edit {
  font-size: 1em;
  margin-left: 1%;
  margin-bottom: 2%;
  background: 0%;
  border: none;
}

.edit:hover {
  color: grey;
}

.delete {
  font-size: 1em;
  margin-left: 1%;
  margin-bottom: 1%;
  background: 0%;
  border: none;
}

.delete:hover {
  color: grey;
}

.leave-review {
  font-size: 1em;
  margin-left: 1%;
  margin-bottom: 1%;
  background: 0%;
  border: none;
}

.review {
  outline: 2px solid #000;
  padding-bottom: 1%;
  margin-top: 0.1%;
  padding-top: 1%;
  padding-left: 1%;
}

.leave-review:hover {
  color: grey;
}

.delete-review {
  margin-left: 1%;
  margin-bottom: 1%;
  background: 0%;
  font-size: 1.1em;
  border: none;
  float: right;
}

.delete-review:hover {
  color: grey;
}

h1 {
  font-weight: bold;
  margin-left: 40%;
  padding-bottom: 2%;
}

.load-more {
  font-size: 1.2em;
  margin-left: 38%;
  margin-top: 1%;
  background: 0%;
  border: none;
}

.load-more:hover {
  color: grey;
}

footer {
  background-color: rgb(128, 199, 240);
  margin-top: 2%;
  padding-bottom: 100px;
  font-size: 1.2em;
}

footer .personal-information {
  float: left;
  font-size: 1em;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
}

footer .title-footer {
  font-size: 1.8em;
  float: left;
  margin-top: 2%;
  margin-left: 25%;
}

footer .last-update {
  font-size: 1em;
  float: right;
  margin-top: 1%;
  margin-right: 2%;
}

main {
  font-size: 1em;
  margin-top: 6%;
  margin-left: 22.5%;
  margin-right: 22.5%;
}